In [46]:
path = "/Users/amrtamer/Documents/Internship/"
# path = "/content/drive/MyDrive/Internship/"

In [47]:
import sys
sys.path.append(path + 'Models')
sys.path.append(path + 'Models/Universal/uni2ts/myenv/lib/python3.10/site-packages/')
import utils as ut
import models

In [48]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import pandas as pd
import torch
from torch.utils.data import DataLoader
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from torch.utils.data import Dataset, DataLoader
import os
import re
import json
import optuna
import ast
import matplotlib.pyplot as plt
import random
from matplotlib.backends.backend_pdf import PdfPages

In [49]:
data = pd.read_csv(path + r'data/Volve/Volve_cleaned_prepared.csv')
if "Unnamed: 0" in data.columns:
    data = data.drop(columns="Unnamed: 0")
data.head()

,well_name,WELL_BORE_CODE,date,prod_hrs,bhp,bht,dp_tubing,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,whp,...,linear_regressor,EMA_short,EMA_medium,EMA_long,Rolling_short,Rolling_medium,Rolling_long,Lag_short,Lag_medium,Lag_long
0,7405,NO 15/9-F-1 C,2014-04-22,0.268405,1.029311,0.605973,0.396167,-2.016027,-0.533280,3.281836,...,-0.101892,-0.103579,-0.104768,-0.106929,-0.001355,-0.002618,-0.00519,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,7405,NO 15/9-F-1 C,2014-04-23,0.268405,0.845795,0.634777,0.239818,0.088113,-0.419656,2.849981,...,-0.101892,-0.103579,-0.104768,-0.106929,-0.001355,-0.002618,-0.00519,"[0.0, 0.0, -0.10230979661544379]","[0.0, 0.0, 0.0, 0.0, -0.10230979661544379]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,7405,NO 15/9-F-1 C,2014-04-24,0.268405,0.775025,0.639809,0.199890,-0.688434,-0.402874,2.607708,...,-0.101892,-0.009618,-0.053295,-0.079801,-0.001355,-0.002618,-0.00519,"[0.0, -0.10230979661544379, -0.10230979661544379]","[0.0, 0.0, 0.0, -0.10230979661544379, -0.10230...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.10..."
3,7405,NO 15/9-F-1 C,2014-04-25,0.268405,0.705033,0.642084,0.161493,1.145283,-0.379061,2.364038,...,-0.114759,-0.020781,-0.051611,-0.076565,-0.001355,-0.002618,-0.00519,"[-0.10230979661544379, -0.10230979661544379, 0...","[0.0, 0.0, -0.10230979661544379, -0.1023097966...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.1023097..."
4,7405,NO 15/9-F-1 C,2014-04-26,0.268405,0.625357,0.643889,0.117221,1.145283,-0.340115,2.088747,...,0.082297,-0.004428,-0.037199,-0.066767,-0.009496,-0.002618,-0.00519,"[-0.10230979661544379, 0.1777063666263608, -0....","[0.0, -0.10230979661544379, -0.102309796615443...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.102309796615..."

In [50]:
well_info = dict(set([(j, i) for i, j in data[['WELL_BORE_CODE', 'well_name']].values.tolist()])) # creating a dictionary of well identiification with {code: name} structure
well_info

{7405: 'NO 15/9-F-1 C',
 5599: 'NO 15/9-F-12 H',
 7078: 'NO 15/9-F-11 H',
 7289: 'NO 15/9-F-15 D',
 5351: 'NO 15/9-F-14 H',
 5769: 'NO 15/9-F-5 AH'}

In [51]:
data.columns

Index(['well_name', 'WELL_BORE_CODE', 'date', 'prod_hrs', 'bhp', 'bht',
       'dp_tubing', 'AVG_ANNULUS_PRESS', 'AVG_CHOKE_SIZE_P', 'whp', 'wht',
       'choke_size_percentage', 'oil_vol', 'gas_vol', 'water_vol', 'oil_rate',
       'linear_regressor', 'EMA_short', 'EMA_medium', 'EMA_long',
       'Rolling_short', 'Rolling_medium', 'Rolling_long', 'Lag_short',
       'Lag_medium', 'Lag_long'],
      dtype='object')

In [52]:
identification_column = ['well_name', 'WELL_BORE_CODE', 'date']
single_feature_columns = ['prod_hrs', 'bhp', 'bht', 'dp_tubing', 'AVG_ANNULUS_PRESS', 'AVG_CHOKE_SIZE_P', 'whp', 'wht', 'choke_size_percentage', 'oil_vol', 'gas_vol', 'water_vol', 'linear_regressor', 'EMA_short', 'EMA_medium', 'EMA_long', 'Rolling_short', 'Rolling_medium', 'Rolling_long', 'oil_rate']
multiple_feature_columns = ['Lag_short', 'Lag_medium', 'Lag_long']
# multiple_feature_columns = ['Lag_long']
feature_columns = single_feature_columns + multiple_feature_columns
target_column = ['oil_rate']

In [53]:
data = data[identification_column + feature_columns]
data.shape

(7987, 26)

In [54]:
print(data[['prod_hrs', 'bhp', 'bht', 'dp_tubing', 'AVG_ANNULUS_PRESS', 'AVG_CHOKE_SIZE_P', 'whp', 'wht', 'choke_size_percentage', 'oil_vol', 'gas_vol', 'water_vol', 'linear_regressor', 'EMA_short', 'EMA_medium', 'EMA_long', 'Rolling_short', 'Rolling_medium', 'Rolling_long', 'oil_rate']].mean().round(4))
print(data[['prod_hrs', 'bhp', 'bht', 'dp_tubing', 'AVG_ANNULUS_PRESS', 'AVG_CHOKE_SIZE_P', 'whp', 'wht', 'choke_size_percentage', 'oil_vol', 'gas_vol', 'water_vol', 'linear_regressor', 'EMA_short', 'EMA_medium', 'EMA_long', 'Rolling_short', 'Rolling_medium', 'Rolling_long', 'oil_rate']].std().round(4))

prod_hrs                -0.0
bhp                     -0.0
bht                      0.0
dp_tubing               -0.0
AVG_ANNULUS_PRESS       -0.0
AVG_CHOKE_SIZE_P        -0.0
whp                     -0.0
wht                     -0.0
choke_size_percentage    0.0
oil_vol                  0.0
gas_vol                  0.0
water_vol                0.0
linear_regressor        -0.0
EMA_short                0.0
EMA_medium               0.0
EMA_long                 0.0
Rolling_short           -0.0
Rolling_medium           0.0
Rolling_long            -0.0
oil_rate                 0.0
dtype: float64
prod_hrs                 1.0
bhp                      1.0
bht                      1.0
dp_tubing                1.0
AVG_ANNULUS_PRESS        1.0
AVG_CHOKE_SIZE_P         1.0
whp                      1.0
wht                      1.0
choke_size_percentage    1.0
oil_vol                  1.0
gas_vol                  1.0
water_vol                1.0
linear_regressor         1.0
EMA_short                1.0
EMA_medium               1.0
EMA_long                 1.0
Rolling_short            1.0
Rolling_medium           1.0
Rolling_long             1.0
oil_rate                 1.0
dtype: float64

In [55]:
data

,well_name,WELL_BORE_CODE,date,prod_hrs,bhp,bht,dp_tubing,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,whp,...,EMA_short,EMA_medium,EMA_long,Rolling_short,Rolling_medium,Rolling_long,oil_rate,Lag_short,Lag_medium,Lag_long
0,7405,NO 15/9-F-1 C,2014-04-22,0.268405,1.029311,0.605973,0.396167,-2.016027,-0.533280,3.281836,...,-0.103579,-0.104768,-0.106929,-0.001355,-0.002618,-0.005190,-0.102310,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,7405,NO 15/9-F-1 C,2014-04-23,0.268405,0.845795,0.634777,0.239818,0.088113,-0.419656,2.849981,...,-0.103579,-0.104768,-0.106929,-0.001355,-0.002618,-0.005190,-0.102310,"[0.0, 0.0, -0.10230979661544379]","[0.0, 0.0, 0.0, 0.0, -0.10230979661544379]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,7405,NO 15/9-F-1 C,2014-04-24,0.268405,0.775025,0.639809,0.199890,-0.688434,-0.402874,2.607708,...,-0.009618,-0.053295,-0.079801,-0.001355,-0.002618,-0.005190,0.177706,"[0.0, -0.10230979661544379, -0.10230979661544379]","[0.0, 0.0, 0.0, -0.10230979661544379, -0.10230...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.10..."
3,7405,NO 15/9-F-1 C,2014-04-25,0.268405,0.705033,0.642084,0.161493,1.145283,-0.379061,2.364038,...,-0.020781,-0.051611,-0.076565,-0.001355,-0.002618,-0.005190,-0.042238,"[-0.10230979661544379, -0.10230979661544379, 0...","[0.0, 0.0, -0.10230979661544379, -0.1023097966...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.1023097..."
4,7405,NO 15/9-F-1 C,2014-04-26,0.268405,0.625357,0.643889,0.117221,1.145283,-0.340115,2.088747,...,-0.004428,-0.037199,-0.066767,-0.009496,-0.002618,-0.005190,0.028674,"[-0.10230979661544379, 0.1777063666263608, -0....","[0.0, -0.10230979661544379, -0.102309796615443...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.102309796615..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7982,5769,NO 15/9-F-5 AH,2016-08-22,0.268405,-0.880933,-0.806036,-0.814175,1.149266,1.150153,-1.140330,...,-0.692802,-0.702316,-0.715245,-0.692202,-0.703021,-0.724022,-0.683109,"[-0.6852415797773639, -0.6943429268335604, -0....","[-0.6933422169244923, -0.687878486910018, -0.6...","[-0.7133929373653101, -0.7128670168291575, -0...."
7983,5769,NO 15/9-F-5 AH,2016-08-23,0.268405,-0.880933,-0.806036,-0.814175,1.158798,1.150153,-1.136215,...,-0.689514,-0.699464,-0.713067,-0.690182,-0.699482,-0.722275,-0.677835,"[-0.6943429268335604, -0.6840874763785847, -0....","[-0.687878486910018, -0.6852415797773639, -0.6...","[-0.7128670168291575, -0.704496114962062, -0.6..."
7984,5769,NO 15/9-F-5 AH,2016-08-24,0.268405,-0.880933,-0.806036,-0.814175,1.141085,1.150153,-1.137527,...,-0.687737,-0.697357,-0.711216,-0.688940,-0.696914,-0.720063,-0.679069,"[-0.6840874763785847, -0.6831086798251896, -0....","[-0.6852415797773639, -0.6943429268335604, -0....","[-0.704496114962062, -0.6974619277910209, -0.6..."
7985,5769,NO 15/9-F-5 AH,2016-08-25,0.268405,-1.334973,-1.285316,-1.327391,1.140689,1.150153,-1.140776,...,-0.686410,-0.695555,-0.709500,-0.685783,-0.695013,-0.718130,-0.678646,"[-0.6831086798251896, -0.6778348655598816, -0....","[-0.6943429268335604, -0.6840874763785847, -0....","[-0.6974619277910209, -0.6908660077334403, -0...."
7986,5769,NO 15/9-F-5 AH,2016-08-26,-0.744073,-0.434704,-0.323038,-0.323127,1.127728,0.671086,-1.123420,...,-0.684576,-0.693562,-0.707674,-0.684119,-0.693493,-0.715748,-0.675818,"[-0.6778348655598816, -0.6790693179294619, -0....","[-0.6840874763785847, -0.6831086798251896, -0....","[-0.6908660077334403, -0.6933422169244923, -0...."

In [56]:
for column in multiple_feature_columns:
    try:
        data[column] = data[column].apply(ast.literal_eval)
    except Exception:
        pass

In [57]:
data.isna().any()

well_name                False
WELL_BORE_CODE           False
date                     False
prod_hrs                 False
bhp                      False
bht                      False
dp_tubing                False
AVG_ANNULUS_PRESS        False
AVG_CHOKE_SIZE_P         False
whp                      False
wht                      False
choke_size_percentage    False
oil_vol                  False
gas_vol                  False
water_vol                False
linear_regressor         False
EMA_short                False
EMA_medium               False
EMA_long                 False
Rolling_short            False
Rolling_medium           False
Rolling_long             False
oil_rate                 False
Lag_short                False
Lag_medium               False
Lag_long                 False
dtype: bool

In [58]:
# Get the numerical index of the column 'oil_rate'
column_name = 'oil_rate'
column_index = data[feature_columns].columns.get_loc(column_name)
column_index

19

In [59]:
batch_size = 96
days_window = 5
predictions_days = 14
training_gap = predictions_days + days_window

In [60]:
dataset = ut.produce_multivariate_dataset(data, days_window, predictions_days, single_feature_columns, multiple_feature_columns, target_column, well_info)
dataset

,well_name,inputs_dates,targets_dates,inputs_index,targets_index,inputs,targets
0,7405,"[2014-04-22, 2014-04-23, 2014-04-24, 2014-04-2...","[2014-04-27, 2014-04-28, 2014-04-29, 2014-04-3...","[0, 1, 2, 3, 4]","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...","[[0.2684054414666464, 1.029311137344964, 0.605...","[[0.0314347175089187], [0.0285494590119704], [..."
1,7405,"[2014-04-23, 2014-04-24, 2014-04-25, 2014-04-2...","[2014-04-28, 2014-04-29, 2014-04-30, 2014-05-0...","[1, 2, 3, 4, 5]","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[[0.2684054414666464, 0.8457950056169783, 0.63...","[[0.0285494590119704], [-0.0197694902470496], ..."
2,7405,"[2014-04-24, 2014-04-25, 2014-04-26, 2014-04-2...","[2014-04-29, 2014-04-30, 2014-05-01, 2014-05-0...","[2, 3, 4, 5, 6]","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[[0.2684054414666464, 0.7750251338314448, 0.63...","[[-0.0197694902470496], [-0.0590966592282385],..."
3,7405,"[2014-04-25, 2014-04-26, 2014-04-27, 2014-04-2...","[2014-04-30, 2014-05-01, 2014-05-02, 2014-05-0...","[3, 4, 5, 6, 7]","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...","[[0.2684054414666464, 0.705033019070403, 0.642...","[[-0.0590966592282385], [-0.068387922033601], ..."
4,7405,"[2014-04-26, 2014-04-27, 2014-04-28, 2014-04-2...","[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[4, 5, 6, 7, 8]","[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[[0.2684054414666464, 0.6253569546426345, 0.64...","[[-0.068387922033601], [-0.1698175409921428], ..."
...,...,...,...,...,...,...,...
7874,5769,"[2016-08-04, 2016-08-05, 2016-08-06, 2016-08-0...","[2016-08-09, 2016-08-10, 2016-08-11, 2016-08-1...","[7964, 7965, 7966, 7967, 7968]","[7969, 7970, 7971, 7972, 7973, 7974, 7975, 797...","[[0.2684054414666464, -0.4755216279671734, -0....","[[-0.7318767962210462], [-0.7237141278873048],..."
7875,5769,"[2016-08-05, 2016-08-06, 2016-08-07, 2016-08-0...","[2016-08-10, 2016-08-11, 2016-08-12, 2016-08-1...","[7965, 7966, 7967, 7968, 7969]","[7970, 7971, 7972, 7973, 7974, 7975, 7976, 797...","[[0.2684054414666464, -0.4755216279671734, -0....","[[-0.7237141278873048], [-0.7192072810705527],..."
7876,5769,"[2016-08-06, 2016-08-07, 2016-08-08, 2016-08-0...","[2016-08-11, 2016-08-12, 2016-08-13, 2016-08-1...","[7966, 7967, 7968, 7969, 7970]","[7971, 7972, 7973, 7974, 7975, 7976, 7977, 797...","[[0.2684054414666464, -0.4755216279671734, -0....","[[-0.7192072810705527], [-0.7133929373653101],..."
7877,5769,"[2016-08-07, 2016-08-08, 2016-08-09, 2016-08-1...","[2016-08-12, 2016-08-13, 2016-08-14, 2016-08-1...","[7967, 7968, 7969, 7970, 7971]","[7972, 7973, 7974, 7975, 7976, 7977, 7978, 797...","[[0.2684054414666464, -0.4755216279671734, -0....","[[-0.7133929373653101], [-0.7128670168291575],..."
7878,5769,"[2016-08-08, 2016-08-09, 2016-08-10, 2016-08-1...","[2016-08-13, 2016-08-14, 2016-08-15, 2016-08-1...","[7968, 7969, 7970, 7971, 7972]","[7973, 7974, 7975, 7976, 7977, 7978, 7979, 798...","[[0.2684054414666464, -0.4755216279671734, -0....","[[-0.7128670168291575], [-0.704496114962062], ..."

In [61]:
# dataset.to_pickle(path + "/data/Volve/all_data.pkl")
# dataset.to_csv(path + "/data/Volve/all_data.csv")
# dataset

In [62]:
train_size = 0.6
val_size = 0.2
test_size = 0.2

In [63]:
test_size_param1 = test_size
test_size_param2 = val_size / (1 - test_size_param1)

In [64]:
data_train, data_val, data_test = ut.split_dataset(dataset, val_size, test_size, well_info, shuffle_train=True)

In [65]:
# data_train.to_pickle(path + "/data/Volve/data_train.pkl")
# data_val.to_pickle(path + "/data/Volve/data_val.pkl")
# data_test.to_pickle(path + "/data/Volve/data_test.pkl")

# data_train.to_csv(path + "/data/Volve/data_train.csv")
# data_val.to_csv(path + "/data/Volve/data_val.csv")
# data_test.to_csv(path + "/data/Volve/data_test.csv")

In [66]:
all_data = pd.read_pickle(path + "data/Volve/all_data.pkl")
data_train = pd.read_pickle(path + "data/Volve/data_train.pkl")
data_val = pd.read_pickle(path + "data/Volve/data_val.pkl")
data_test = pd.read_pickle(path + "data/Volve/data_test.pkl")

In [67]:
# all_data = pd.read_csv(path + "data/Volve/all_data.csv")
# data_train = pd.read_csv(path + "data/Volve/data_train.csv")
# data_val = pd.read_csv(path + "data/Volve/data_val.csv")
# data_test = pd.read_csv(path + "data/Volve/data_test.csv")

In [68]:
# for df in [all_data, data_train, data_val, data_test]:
#     # Ensure each entry in 'inputs' and 'targets' is a NumPy array
#     df['inputs'] = df['inputs'].apply(lambda x: np.array(x, dtype=np.float32))
#     df['targets'] = df['targets'].apply(lambda x: np.array(x, dtype=np.float32))

In [69]:
data_train.shape, data_val.shape, data_test.shape

((4730, 7), (1577, 7), (1573, 7))

In [70]:
check = True
for i, j in well_info.items():
    if len(all_data[all_data['well_name'] == i]) < 10:
        print("The input/output gap is too high for well", i)
        check = False
if check:
    print("The input/output gap is fine")

The input/output gap is fine

In [71]:
check=True
for i in [data_train, data_val, data_test]:
    for j in well_info.keys():
        if j not in set(list(i['well_name'])):
            print("Some datasets do not have specific well")
            check = False
            break
if check:
    print("All datasets have all wells")

All datasets have all wells

In [72]:
for df in [data_train, data_val, data_test]:
    for column in df.columns:
        try:
            data[column] = data[column].apply(ast.literal_eval)
        except Exception:
            pass

In [73]:
data_train['inputs'][0].shape, data_train['targets'][0].shape

((5, 38), (14, 1))

In [74]:
if torch.backends.mps.is_available():
    device = 'mps'
elif torch.cuda.is_available():
    device = 'cuda'
else:
    device = 'cpu' 
device

'mps'

In [75]:
eval_interval = 500
test_eval_interval = 500
test_iterations = 7500
warmup_steps = 6000 # hyper-parameters for hyperprameter finetuning

In [76]:
train_dataset = ut.TimeSeriesDataset(data_train)
val_dataset = ut.TimeSeriesDataset(data_val)
test_dataset = ut.TimeSeriesDataset(data_test)

train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

In [77]:
visualization_test_dataset = ut.VisualizationTimeSeriesDataset(data_test)

visualization_test_loader = DataLoader(visualization_test_dataset, batch_size=int(len(test_dataset) / 50), shuffle=True)

In [78]:
input_length = data_train['inputs'][0].shape[1]
output_length = predictions_days

In [79]:
# Define an objective function for Optuna
def objective(trial):
    vector_length = trial.suggest_int('vector_length', 16, 2048, step=16)
    num_layers = trial.suggest_int('num_layers', 1, 5) # maybe increase it to 6
    dropout = trial.suggest_float('dropout', 0.1, 0.6)
    lr = trial.suggest_float('lr', 1e-5, 1e-2, log=True)
    gamma = trial.suggest_float('gamma', 0.95, 0.99)
    model = models.LSTM(input_length=input_length, hidden_length=vector_length, output_length=output_length, num_layers=num_layers, dropout=dropout).to(device)
    optimizer = torch.optim.AdamW(model.parameters(), lr=lr)
    scheduler = torch.optim.lr_scheduler.ExponentialLR(optimizer, gamma=gamma) # setting optimizer scheduler
    train_loader_iter = iter(train_loader)
    # Training loop
    for i in range(test_iterations):
        model.train()
        if (i % test_eval_interval == 0 or i == test_iterations - 1):
            losses = ut.estimate_loss(model, train_loader, val_loader)
            trial.report(losses['val'], i)
            if i != 0:
                scheduler.step()
            # if i >= warmup_steps and trial.should_prune():
            #     raise optuna.TrialPruned()
        try:
            X_batch, Y_batch = next(train_loader_iter)
        except StopIteration:
            train_loader_iter = iter(train_loader)
            X_batch, Y_batch = next(train_loader_iter)
            
        X_batch, Y_batch = X_batch.to(device), Y_batch.to(device)
        logits, loss = model(X_batch, Y_batch)
        optimizer.zero_grad(set_to_none=True)
        loss.backward()
        optimizer.step()
    val_metrics = ut.evaluate('val', model)
    return val_metrics['Loss']

def load_model(name=""): 
    config_path = path + r'Models/Global/LSTM/Model/Complete/'
    if name != "":
        name = f'{name}_'
    model = torch.load(config_path + f'{name}complete_params.pth')
    optimizer = torch.load(config_path + f'{name}complete_optimizer.pth')
    scheduler = torch.load(config_path + f'{name}complete_scheduler.pth')
    return model, optimizer, scheduler

In [80]:
# # Create a study and optimize the objective function
# study = optuna.create_study(direction='minimize')
# study.optimize(objective, n_trials=200)

# # Get the best hyperparameters
# best_params = study.best_params
# print('Best hyperparameters:', best_params)

# # Train the final model with the best hyperparameters
# vector_length = best_params['vector_length']
# num_layers = best_params['num_layers']
# dropout = best_params['dropout']
# lr = best_params['lr']
# gamma = best_params['gamma']

In [81]:
vector_length = 1024
num_layers = 3
dropout = 0.19057012152026273
lr = 0.0001911914637460164
gamma = 0.9806898435934219 # 2nd best results on val set full training

In [82]:
vector_length = 336
num_layers = 3
dropout = 0.12831089625320793
lr = 0.0003724263259631224
gamma = 0.978770138138513 # best results on val set full training

In [38]:
# Example usage
context_size = days_window - 1
X_batch, Y_batch = next(iter(train_loader))
X_batch, Y_batch = X_batch.to(device), Y_batch.to(device)
print(f'The shape of input is: {X_batch.shape} and the shape of the output is {Y_batch.shape}')
model = models.LSTM(input_length=input_length, hidden_length=vector_length, output_length=output_length, num_layers=num_layers, dropout=dropout).to(device)
output, loss = model(X_batch, Y_batch)
print(f'The output shape of the LSTM will be {tuple(output.shape)} and a an example initial loss is {loss}')

The shape of input is: torch.Size([96, 5, 38]) and the shape of the output is torch.Size([96, 14])
The output shape of the LSTM will be (96, 14) and a an example initial loss is 1.1392195224761963

In [45]:
model = models.LSTM(input_length=input_length, hidden_length=vector_length, output_length=output_length, num_layers=num_layers, dropout=dropout).to(device)
optimizer = torch.optim.AdamW(model.parameters(), lr=lr)
scheduler = torch.optim.lr_scheduler.ExponentialLR(optimizer, gamma=gamma) # setting optimizer scheduler

In [40]:
iterations = 30000

In [42]:
train_loader_iter = iter(train_loader)
log_file = ut.get_next_log_file(path + "/Models/Global/LSTM/Logs")
config_directory = r'Models/Global/LSTM/Model/State/'
model_directory = r'Models/Global/LSTM/Model/Complete/'

log_message = f"Hyperparameters: Vector Length = {vector_length}, Number of Layers = {num_layers}, Dropout = {dropout}, Learning Rate = {lr}, Scheduler Gamma = {gamma}\n"

ut.log_to_file(log_file, log_message)
model.train()
try:
    for i in range(iterations):
        model.train()  # Set model to training mode
        if i % eval_interval == 0 or i == iterations - 1:
            # Evaluate and save model parameters periodically
            model.save_params(optimizer=optimizer, scheduler=scheduler, config_path=path+config_directory, model_path=path+model_directory, name='current')  # Saving parameters
            model.eval()
            losses = ut.estimate_loss(model, train_loader, val_loader, device=device)  # Estimate train and val loss
            model.train()
            log_message = f"step {i}: train loss {losses['train']:.4f}, val loss {losses['val']:.4f}"
            print(log_message)
            ut.log_to_file(log_file, log_message)  # Log to file
            if i != 0:
                scheduler.step()  # Perform scheduler step
        try:
            # Get the next batch
            X_batch, Y_batch = next(train_loader_iter)
        except StopIteration:
            # Reinitialize the iterator if the DataLoader is exhausted
            train_loader_iter = iter(train_loader)
            X_batch, Y_batch = next(train_loader_iter)

        X_batch, Y_batch = X_batch.to(device), Y_batch.to(device)
        logits, loss = model(X_batch, Y_batch)  # Run inputs and expected outputs through model
        optimizer.zero_grad(set_to_none=True)  # Set gradients to 0 (to ensure gradients don't explode)
        loss.backward()  # Perform backpropagation
        optimizer.step()  # Perform parameter adjustment

except KeyboardInterrupt:
    print("Training ended manually by user.\n")
model.eval()
print("Training is complete")

step 0: train loss 1.1335, val loss 1.1122
step 500: train loss 0.0559, val loss 0.0518
step 1000: train loss 0.0483, val loss 0.0501
step 1500: train loss 0.0463, val loss 0.0487
step 2000: train loss 0.0432, val loss 0.0463
step 2500: train loss 0.0395, val loss 0.0409
step 3000: train loss 0.0408, val loss 0.0470
step 3500: train loss 0.0257, val loss 0.0372
step 4000: train loss 0.0216, val loss 0.0341
step 4500: train loss 0.0224, val loss 0.0346
step 5000: train loss 0.0170, val loss 0.0299
step 5500: train loss 0.0143, val loss 0.0288
step 6000: train loss 0.0138, val loss 0.0275
step 6500: train loss 0.0126, val loss 0.0275
step 7000: train loss 0.0114, val loss 0.0267
step 7500: train loss 0.0105, val loss 0.0260
step 8000: train loss 0.0103, val loss 0.0260
step 8500: train loss 0.0095, val loss 0.0260
step 9000: train loss 0.0091, val loss 0.0255
step 9500: train loss 0.0083, val loss 0.0258
step 10000: train loss 0.0080, val loss 0.0249
step 10500: train loss 0.0079, val loss 0.0246
step 11000: train loss 0.0077, val loss 0.0250
step 11500: train loss 0.0066, val loss 0.0259
step 12000: train loss 0.0065, val loss 0.0255
Training ended manually by user.

Training is complete

In [43]:
model.eval()
train_metrics = ut.evaluate(model, train_loader, device=device)
val_metrics = ut.evaluate(model, val_loader, device=device)
test_metrics = ut.evaluate(model, test_loader, device=device)
ut.log_to_file(log_file, str(f"\nMetrics = {test_metrics}"))

Metrics on dataset:

Loss is 0.0050
MAE is 0.0430
RMSE is 0.0704
RÂ² is 0.9955


Metrics on dataset:

Loss is 0.0212
MAE is 0.0749
RMSE is 0.1472
RÂ² is 0.9799


Metrics on dataset:

Loss is 0.0116
MAE is 0.0765
RMSE is 0.1060
RÂ² is 0.5306

In [46]:
models.LSTM.label_model_files(config_path=path+'Models/Global/LSTM/Model/State', model_path=path+'Models/Global/LSTM/Model/Complete', old_name='current', new_name='best')

One or more files not found.

In [85]:
model, optimizer, scheduler = models.LSTM.load_params(config_path=path+'Models/Global/LSTM/Model/State', name='best')

TypeError: LSTM.load_params() missing 1 required positional argument: 'self'

In [83]:
model, optimizer, scheduler = models.load_model(path+'Models/Global/LSTM/Model/Complete', include_optimizer=True, include_scheduler=True, name='best')

AttributeError: module 'models' has no attribute 'load_model'

In [46]:
ut.produce_graphs(model, visualization_test_loader, data, data_test, days_window, predictions_days, path + "Models/Global/XGBoost/Graphs", well_info, test_size, column_index=column_index, device=device)
test_metrics = ut.evaluate(model, test_loader, device=device)

Metrics on dataset:

Loss is 0.0116
MAE is 0.0765
RMSE is 0.1060
RÂ² is 0.5306

1. consecutive set splits (bad)
2. experiment with the lags (slightly worse on test set)
3. add more to chronos
4. change mean and std to training data

universal:
1. try to find tutorials